.requestContainer {
  width: 100vw;
  height: 92vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #1f253d;
  overflow-y: auto;
  
}

.requestContainer textarea {
    resize: none;
}

.requestFormContainer {
  width: 80%;
  height: 35vh;
  background: #394264;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 1vh;
  
}

.featuresListContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    
  }

.requestForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
   margin-left: 1vw; 
}

.requestFormFields {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}

.requestFormContainer h2 {
  font-size: 2rem;
  color: white;
}

.nameEntryField {
  
  
}

.descriptionEntryField {
  margin-top: 1vh;
}



.featuresList {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0;
}



.featuresList li {
  list-style-type: none;

}

.requestContainer h2 {
  margin: 20px;
  font-weight: 200;
}

.feature {
  width: 80vw;
  height: 40vh;
  display: grid;
  grid-template-areas:
    "a b"
    "c c"
    "d e";
  border-color: #a8abb2;
  border-style: solid;
  border-width: 1px;
  grid-template-rows: 33% 33% 34%;
  grid-template-columns: 50% 50%;
  background-color: #1f253d;
  box-shadow: 1px 1px 15px 1px #828387;
  margin: 1vw;
  border-radius: 5px;
}

.featureHidden {
  width: 80vw;
  height: 10vh;
  display: grid;
  grid-template-areas: "a b d e";
  border-color: #a8abb2;
  border-style: solid;
  border-width: 1px;
  grid-template-rows: 100%;
  grid-template-columns: 25% 25% 25% 25%;

  box-shadow: 1px 1px 10px 1px #828387;
  margin: 1vw;
  border-radius: 5px;
}

.featureName {
  grid-area: a;
  background: #394264;
  align-items: center;
  display: flex;
  justify-content: center;
  border-width: 1px;
}

.featureUserId {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #434655;
  border-width: 1px;
}

.featureDescriptionShow {
  grid-area: c;
  background-color: #6a7297;
  border-width: 2px;
  border-color: #9099b7;
}

.featureDescriptionHidden {
  display: none;
}

.featureVotes {
  grid-area: d;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1e6;
  border-width: 1px;
  border-color: #9099b7;
}

.featureButtons {
  display: flex;
  grid-area: e;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: #e4e7ed;
  color: white;
  border-color: #9099b7;
  font-size: 0.8rem;
  border-width: 1px;
  
}

.requestFormButtons {
    margin-top: 1vh;
}

.featureName h3 {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

.featureUserId h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #9099b7
}

.featureDescriptionShow h4 {
  font-size: 1rem;
  font-weight: 400;
  color:white;
}

.featureVotes h4 {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(4, 4, 3);
}


.featureButton{
  margin: 1vw;
}

.preLoad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}